<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Rules</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Rules </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th> Knowledge Base </th>
						<th> Predicate </th>
						<th> Rule Type </th>
						<th> Premises </th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${rules.empty}">
						<td colspan="4"> No Rules Available </td>
					</tr>
					<tr th:each="rule : ${rules}">
						<td><span th:text="${rule.knowledgeBase}"> Knowledge Base </span></td>
						<td><span th:text="${rule.predicate}"> Predicate </span></td>
						<td><span th:text="${rule.ruleType}"> Rule Type </span></td>
						<td><span th:text="${rule.premise}"> Premises </span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<a class="btn btn-success" href="#" th:href="@{/rules/create}"> Add Rules </a>
			<a class="btn btn-primary" href="#" th:href="@{/rules/edit}" th:classappend="${rules.empty} ? 'disabled' : ''"> Edit Rules </a>
		</div>
	</div>
</div>
</body>
</html>