<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Approve Rules</title>
<!-- CSS load -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="../css/style.css" />
<!-- CSS load -->

</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">RuDiK</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Show rules</a></li>
				<li><a href="/rule/add">Add rules</a></li>
				<li class="dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Rule Administration
		        </a>
					<div class="dropdown-menu">
						<a href="/rule/import">Import rules</a>
						<a href="/rule/export_all">Export rules</a>
						<div class="divider"></div>
						<a href="/rule/approve">Rule Management</a>
					</div>
				</li>
				<li><a href="#">About</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</nav>
	<!-- Navigation bar -->

	<div class="wrapper">
		<h2>Rule Management</h2>
		<em class="small">Allow administrators approve as well as edit rules.
		</em>
		<hr />
		<!-- Criteria form -->
		<form th:object="${searchForm}" action="/rule/search" method="post"
			id="search-form">

			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div>
							<label for="knowledgeBase">Knowledge Base</label> <select 
							th:field="*{knowledgeBase}">
								<option th:value="none" th:text="--None--"></option>
								<option th:each="kb: ${knowledgeBases}" th:value="${kb.key}"
									th:text="${kb.value}"></option>
							</select>
						</div>
						<div>
							<label for="predicate">Predicate</label> <select
								th:field="*{predicate}">
								<option th:value="none" th:text="--None--"></option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<label for="type">Rule Type</label> <select
								th:field="*{ruleType}">
								<option th:each="rt: ${ruleTypes}" th:value="${rt.key}"
									th:text="${rt.value}"></option>
							</select>
						</div>
						<div>
							<label for="humanConfidence">Human Confidence</label> <span>
								from </span><input type="number" step="0.01"
								th:field="*{humanConfidenceFrom}" maxlength="4" size="4"
								placeholder="0.0" min="0" max="1" /> <span> to </span><input
								type="number" step="0.01" th:field="*{humanConfidenceTo}"
								maxlength="4" size="4" placeholder="1.0" min="0" max="1" />
						</div>

					</div>
					<div class="col-md-2">
						<div th:if="${ruleStatus} != null" >
							<div>
								<label for="type">Rule Status</label> <select
									th:field="*{ruleStatus}">
									<option th:each="rt: ${ruleStatus}" th:value="${rt.key}"
										th:text="${rt.value}"></option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-md-1">
						<button type="submit" id="btn-search"
							class="btn btn-primary btn-sm">Apply</button>
					</div>
				</div>
			</div>
		</form>
		<!-- Criteria form -->

		<!-- Message -->
		<div id="appMsg"></div>
		<!-- Message -->

		<!-- Results block -->
		<div id="resultsBlock" style="display: none">
			<hr />
			<table id="results-table" class="display" style="width: 100%">
				<thead>
					<tr>
						<th></th>
						<th>Type</th>
						<th>Rule</th>
						<th>Quality Evaluation</th>
						<th>Human Confidence</th>
						<th>Computed Confidence</th>
						<th>Approve</th>
						<th>Evaluate</th>
					</tr>
				</thead>
			</table>
		</div>
		<!-- Results block -->
		
	</div>


	<div id="rule-details"></div>

	<!-- Footer -->
	<footer class="page-footer font-small blue">
		<div class="footer-copyright text-center py-3">
			2019
		</div>
	</footer>
	<!-- Footer -->

	<!-- JS load -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="../app_rule.js"></script>
	<!-- JS load -->
	
</body>
</html>