<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Import</title>
<!-- CSS load -->
<link th:replace="fragments :: css-load"></link>
<!-- CSS load -->

</head>
<body>
	<!-- Navigation bar -->
	<div th:replace="fragments :: navbar"></div>
	<!-- Navigation bar -->

	<div class="wrapper">
		<h2>Import Rules</h2>
		<em class="small">Import rules into the system.
		Existing rules will be ignored. </em>
		<hr />
		
		<!-- Message -->
		<div th:replace="fragments :: app-msg"></div>
		<!-- Message -->
		
		<!-- Import form -->
		<form th:object="${importForm}" action="/rules/import" method="post"
			id="import-form" enctype="multipart/form-data">

			<div class="container">
				<div class="row">
					<div>
					
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="method">You want to import...</label> 
							<div class="col-sm-10">
								<div th:each="m: ${methods}">
									<input type="radio" name="method" th:value="${m.key}"
											th:id="${m.key}" required/>
									<label th:for="${m.key}" th:text="${m.value}"></label>
									<em class="small" th:switch="${m.key}">
									    <span th:case="'amie'">(csv supported, download the sample file <a href="/download/template?file_name=amie.csv">here</a>.)</span>
									    <span th:case="'rudik'">(csv supported, download the sample file <a href="/download/template?file_name=rudik.csv">here</a>.)</span>
									    <span th:case="'all'">(json supported, download the sample file <a href="/download/template?file_name=rules.json">here</a>.)</span>
									</em><br>
								</div>
								
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="file">Upload your file</label>
							<div class="col-sm-10">
								<input type="file" name="file" required="required"/>
						
							</div>
						</div>
						<div class="form-group row">
        					<div class="col-sm-10 offset-sm-2">
        						<button type="submit" class="btn btn-primary btn-sm" id="btn-import" 
        						data-loading-text="Processing...">Import</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- Criteria form -->
		
	</div>


	<div id="rule-details"></div>

	<!-- footer -->
	<div th:replace="fragments :: footer"></div>
	<!-- JS load -->
	<div th:replace="fragments :: js-load"></div>
	
	<script>
	$("#import-form").on('submit', function() {
    	var $this = $("#import-form button[type='submit']");
        var loadingText = 'Importing...';
        $this.data('original-text', $(this).html());
        $this.html(loadingText);
        $this.attr("disabled", "disabled")
        
        if ($(this).html() !== loadingText) {
          
        }
      });
	</script>
	
</body>
</html>