<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sample Instances</title>
<!-- CSS load -->
<link th:replace="fragments :: css-load"></link>
<!-- CSS load -->


</head>
<body>
	<!-- Navigation bar -->
	<div th:replace="fragments :: navbar"></div>
	<!-- Navigation bar -->

	<div class="wrapper">
		<h2 th:text="${isAdmin} ? 'Rule Management' : 'Rule Sample'"></h2>
		<em class="small">(Up to) 20 random instances of the rule.
		</em>
		<hr />
		
		<!-- Message -->
		<div th:replace="fragments :: app-msg"></div>
		<!-- Message -->
		
		<div id="rule-info">
			<strong>Predicate: </strong><p th:text="${rule.predicate}"></p>
			<strong>Premise: </strong><p th:text="${rule.premise}"></p>
			<strong>Conclusion: </strong><p th:text="${rule.conclusion}"></p>
			<div th:switch="${rule.rule_type}"><strong>Rule type: </strong><p th:case="false">Negative</p><p th:case="true">Positive</p></div>
			<strong>Computed confidence: </strong><p th:text="${rule.computed_confidence}"></p>
			<strong>Human confidence: </strong><p class="human_confidence" th:text="${rule.human_confidence}"></p>
			<div th:if="${isAdmin}" id="compute_confidence">
				<button type="button" id="btn-compute-hc" class="btn btn-primary btn-sm">Compute Human Confidence</button>
			</div>
		</div>
		<!-- Results block -->
		<div id="rule-instance-samples">
			<hr />
			<table id="results-table" class="display" style="width: 100%">
				<thead>
					<tr>
						<th></th>
						<th>Premise</th>
						<th>Label</th>
					</tr>
				</thead>
			</table>
		</div>
		<!-- Results block -->
		
	</div>


	<div id="rule-details"></div>
	
	<!-- footer -->
	<div th:replace="fragments :: footer"></div>
	<!-- JS load -->
	<div th:replace="fragments :: js-load"></div>
	
	<!--  custom js -->
	<script type="text/javascript" th:src="@{/instances_sample.js}"></script>
	
</body>
</html>