
nav.navbar, nav.navbar .dropdown-menu {
	    background-color: #337ab7 !important;
}

nav.navbar a {
	color: white !important;
}

nav.navbar .dropdown-menu a {
	display: block;
	padding: .25rem 1.5rem;
	clear: both;
	white-space: nowrap;
	background-color: transparent;
    border: 0;
}

.divider {
	height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

#search-form table {width: 100%}

#search-form span {font-style: italic}

#search-form input[type="number"] {
	max-width: 20%
}

#resultsBlock div.rule-list button {
	text-align: left;
}

#resultsBlock div.rule-list button:before {
	font-family: "Glyphicons Halflings";
    content: "\e114";
    
    margin-right: 15px;
}

#resultsBlock div.rule-list button.collapsed:before  {
	content: "\e080";
}

.popup_content, .popup-rule {
    padding: 0 10px;
    background: #337ab7;
    unset !important;
    color: white;
}

.ui-dialog-titlebar {
}

.popup-rule pre {
	height: 95%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 50px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #337ab7;
   color: white;
   text-align: center;
}

nav ul.nav {
	float: right;
}

nav ul.nav li.active > a {
	color: #337ab7 !important;
}


td.editable.active {
	padding: 0;
}

td.editable.active div {
	padding: 8px 10px;
}

td.editable.active form {
	margin: 0;
}

td.editable.active form input {
	display: block;
	margin: 0 auto;
}

td.editable.active form button {
	margin: 3px;
}

.errorMessages {
    list-style-type: disc;
    margin: 0 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.resultMessages {
	list-style-type: disc;
    margin: 10 10px 10px 0px;
    padding: 8px 35px 8px 30px;
    color: #270;
  	background-color: #DFF2BF;
  	border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}